{% extends 'encyclopedia/layout.html' %}

{% block title %} 
    New Page
{% endblock title %}

{% block body %} 
    <h1> New Content</h1>
    {% if exist %}
        <div id="existe">
            <h1> The entry alredy exists</h1>
            <p> If it is a new content you could change the title </p>
        </div>
    
    {% else %}
    <form method ="POST"  action= "{%url 'newPage'%}"  > 
        {% csrf_token %} 
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
    {% endif %}
    

{% endblock body %}